{% extends 'memes/base.html' %}

{% block title %}
    Create Mem - {{ block.super }}
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}:
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Success</button>
    </form>
{% endblock %}