{% extends 'memes/base.html' %}

{% block title %}
    Posts - {{ block.super }}
{% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-3" id="mems">
        {% include 'memes/includes/mems.html' %}
    </div>
    <div id="spinner" class="spinner">
        {% for i in '123' %}
        <div class="spinner-grow" role="status">
            <span class="sr-only"></span>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
        window.onscroll = memScroll('{% url 'memes:index' %}', {{ pages }})
    </script>
{% endblock %}