{% extends 'memes/base.html' %}

{% block title %}
    Posts - {{ block.super }}
{% endblock %}

{% block style %}
    <style>
        img {
            height: 400px;
            width: 400px;
        }
        .card:hover {
            cursor: pointer;
            box-shadow: 10px 10px 10px grey;
        }
        .spinner {
            text-align: center;
            display: none;

        }
        a {
            text-decoration: none !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-3" id="mems">
        {% include 'memes/includes/mems.html' %}
    </div>
    <div id="spinner" class="spinner">
        {% for i in '123' %}
        <div class="spinner-grow" role="status">
            <span class="sr-only"></span>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
        let page = 1;
        let pages = {{ pages }}

        window.onscroll = function() {
            if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight && page < pages) {
                page++;

                let spinner = document.getElementById('spinner');
                spinner.style.display = 'block';

                let mems = document.getElementById('mems');

                let request = new XMLHttpRequest();
                request.open('GET', '{% url 'memes:index' %}' + '?page=' + page.toString());
                request.send();
                request.onload = function () {
                    mems.innerHTML += request.responseText;
                    spinner.style.display = 'none'
                }

            }
        };
    </script>
{% endblock %}