{% extends 'memes/base.html' %}

{% load image_filters %}
{% load static %}

{% block title %}
    Mem - {{ block.super }}
{% endblock %}


{% block body %}
    <div class="card text-white bg-dark">
        {% if mem.image|is_exists %}
            <img src="{{ mem.image.read|make_src }}" class="card-img-top">
        {% else %}
            <img src="{% static 'memes/image/not_found.png' %}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ mem.title }}</h5>
            <p class="card-text">{{ mem.body }}</p>
            <p class="card-text"><small class="text-muted">Created {{ mem.get_created_at }}</small></p>
        </div>
    </div>
{% endblock %}