.body {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}

.card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
}

.spinner {
    text-align: center;
    display: none;

}

.main-content {
    height: 400px;
}

.a-card {
    text-decoration: none !important;
}

.search-field {
    margin: auto;
}

.user-info {
    font-weight: bold;
    color: rgb(220, 53, 69);
    margin-right: 20px;
}

#not-found {
    top: 610px;
    position: absolute;
}

#logo {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}

#logo:after {
    content: "NOT FOUND";
    position: absolute;
    left: 8px;
    top: 32px;
}

#logo:after {
    background-image: -webkit-linear-gradient(
            left top,
            transparent 0%,
            transparent 25%,
            #555 25%,
            #555 50%,
            transparent 50%,
            transparent 75%,
            #555 75%
    );
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
}
