.body {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}

.card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
}

.spinner {
    text-align: center;
    display: none;

}

.main-content {
    height: 400px;
}

.a-card {
    text-decoration: none !important;
}

.search-field {
    margin: auto;
}

.user-info {
    font-weight: bold;
    color: rgb(220, 53, 69);
    margin-right: 20px;
}