<div class="modal fade" id="{{ type }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ type }}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ type }}Title">{{ type|title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/{{ type }}/?next={{ request.path }}" id="{{ type }}">
                <div class="modal-body">
                    {% if type == 'login' %}
                        {% include 'accounts/includes/form.html' with form=login_form %}
                    {% else %}
                        {% include 'accounts/includes/form.html' with form=register_form %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">{{ type|title }}</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>